# DSC Omega benchmark
Queries performed for:

* targets: `['hub_graph.P', 'hub_graph.n', 'mse.score', 'tiger', 'glasso', 'clime']`
* conditions: `['hub_graph.P = 300', 'hub_graph.n = 200', 'hub_graph.seed <= 5']`

In [1]:
import warnings
warnings.filterwarnings("ignore")
from dsc.utils import load_rds
import pandas as pd
info = [pd.DataFrame.from_dict(x) for x in load_rds("demo.rds").values()]

## Pipeline 1

```sql
SELECT hub_graph.P AS hub_graph_P, hub_graph.n AS hub_graph_n, mse.FILE AS mse_FILE_score, 'glasso' AS glasso FROM mse INNER JOIN glasso ON mse.parent = glasso.ID INNER JOIN hub_graph ON glasso.parent = hub_graph.ID WHERE ((hub_graph.P = 300) AND (hub_graph.n = 200) AND (hub_graph.seed <= 5))
```

In [2]:
%preview -n info[0]

>>> info[0]:

,glasso,hub_graph_P,hub_graph_n,mse_score
0,glasso,300,200,30381.874719
1,glasso,300,200,30370.918424

## Pipeline 2

```sql
SELECT hub_graph.P AS hub_graph_P, hub_graph.n AS hub_graph_n, mse.FILE AS mse_FILE_score, 'tiger' AS tiger FROM mse INNER JOIN tiger ON mse.parent = tiger.ID INNER JOIN hub_graph ON tiger.parent = hub_graph.ID WHERE ((hub_graph.P = 300) AND (hub_graph.n = 200) AND (hub_graph.seed <= 5))
```

In [3]:
%preview -n info[1]

>>> info[1]:

,hub_graph_P,hub_graph_n,mse_score,tiger
0,300,200,30238.842018,tiger
1,300,200,30206.299045,tiger

## Pipeline 3

```sql
SELECT hub_graph.P AS hub_graph_P, hub_graph.n AS hub_graph_n, mse.FILE AS mse_FILE_score, 'clime' AS clime FROM mse INNER JOIN clime ON mse.parent = clime.ID INNER JOIN hub_graph ON clime.parent = hub_graph.ID WHERE ((hub_graph.P = 300) AND (hub_graph.n = 200) AND (hub_graph.seed <= 5))
```

In [4]:
%preview -n info[2]

>>> info[2]:

,clime,hub_graph_P,hub_graph_n,mse_score
0,clime,300,200,30367.071748
1,clime,300,200,30488.268484

In [5]:
%use R
info <- readRDS('demo.rds')