# DSC summary & query
Queries performed for:

* targets: `['simulate.n', 'method', 'mse.score']`
* conditions: `['simulate.true_mean = 1']`

In [1]:
import pandas as pd
xls = pd.ExcelFile('Q2.xlsx')
info = [xls.parse(x) for x in xls.sheet_names]

## Merged

In [2]:
%preview -n info[0] --limit -1

>>> info[0]:

,simulate,simulate_n,method,method_FILE,mse_score
0,t,1000,median,normal_2_mean_1,dsc_result/normal_2_mean_1_mse_1
1,t,1000,median,normal_4_mean_1,dsc_result/normal_4_mean_1_mse_1
2,t,1000,median,normal_6_mean_1,dsc_result/normal_6_mean_1_mse_1
3,t,1000,median,normal_8_mean_1,dsc_result/normal_8_mean_1_mse_1
4,t,1000,median,normal_10_mean_1,dsc_result/normal_10_mean_1_mse_1
5,t,1000,mean,normal_2_median_1,dsc_result/normal_2_median_1_mse_1
6,t,1000,mean,normal_4_median_1,dsc_result/normal_4_median_1_mse_1
7,t,1000,mean,normal_6_median_1,dsc_result/normal_6_median_1_mse_1
8,t,1000,mean,normal_8_median_1,dsc_result/normal_8_median_1_mse_1
9,t,1000,mean,normal_10_median_1,dsc_result/normal_10_median_1_mse_1
10,normal,1000,median,t_2_mean_1,dsc_result/t_2_mean_1_mse_1
11,normal,1000,median,t_4_mean_1,dsc_result/t_4_mean_1_mse_1
12,normal,1000,median,t_6_mean_1,dsc_result/t_6_mean_1_mse_1
13,normal,1000,median,t_8_mean_1,dsc_result/t_8_mean_1_mse_1
14,normal,1000,median,t_10_mean_1,dsc_result/t_10_mean_1_mse_1
15,normal,1000,mean,t_2_median_1,dsc_result/t_2_median_1_mse_1
16,normal,1000,mean,t_4_median_1,dsc_result/t_4_median_1_mse_1
17,normal,1000,mean,t_6_median_1,dsc_result/t_6_median_1_mse_1
18,normal,1000,mean,t_8_median_1,dsc_result/t_8_median_1_mse_1
19,normal,1000,mean,t_10_median_1,dsc_result/t_10_median_1_mse_1

## Pipeline 1

```sql
SELECT normal.n AS normal_n, mean.FILE AS mean_FILE, mse.FILE AS mse_FILE_score FROM mse INNER JOIN mean ON mse.parent = mean.ID INNER JOIN normal ON mean.parent = normal.ID WHERE ((normal.true_mean = 1))
```

In [3]:
%preview -n info[1] --limit -1

>>> info[1]:

,normal_n,mean_FILE,mse_score
0,1000,normal_2_mean_1,dsc_result/normal_2_mean_1_mse_1
1,1000,normal_4_mean_1,dsc_result/normal_4_mean_1_mse_1
2,1000,normal_6_mean_1,dsc_result/normal_6_mean_1_mse_1
3,1000,normal_8_mean_1,dsc_result/normal_8_mean_1_mse_1
4,1000,normal_10_mean_1,dsc_result/normal_10_mean_1_mse_1

## Pipeline 2

```sql
SELECT normal.n AS normal_n, median.FILE AS median_FILE, mse.FILE AS mse_FILE_score FROM mse INNER JOIN median ON mse.parent = median.ID INNER JOIN normal ON median.parent = normal.ID WHERE ((normal.true_mean = 1))
```

In [4]:
%preview -n info[2] --limit -1

>>> info[2]:

,normal_n,median_FILE,mse_score
0,1000,normal_2_median_1,dsc_result/normal_2_median_1_mse_1
1,1000,normal_4_median_1,dsc_result/normal_4_median_1_mse_1
2,1000,normal_6_median_1,dsc_result/normal_6_median_1_mse_1
3,1000,normal_8_median_1,dsc_result/normal_8_median_1_mse_1
4,1000,normal_10_median_1,dsc_result/normal_10_median_1_mse_1

## Pipeline 3

```sql
SELECT t.n AS t_n, mean.FILE AS mean_FILE, mse.FILE AS mse_FILE_score FROM mse INNER JOIN mean ON mse.parent = mean.ID INNER JOIN t ON mean.parent = t.ID WHERE ((t.true_mean = 1))
```

In [5]:
%preview -n info[3] --limit -1

>>> info[3]:

,t_n,mean_FILE,mse_score
0,1000,t_2_mean_1,dsc_result/t_2_mean_1_mse_1
1,1000,t_4_mean_1,dsc_result/t_4_mean_1_mse_1
2,1000,t_6_mean_1,dsc_result/t_6_mean_1_mse_1
3,1000,t_8_mean_1,dsc_result/t_8_mean_1_mse_1
4,1000,t_10_mean_1,dsc_result/t_10_mean_1_mse_1

## Pipeline 4

```sql
SELECT t.n AS t_n, median.FILE AS median_FILE, mse.FILE AS mse_FILE_score FROM mse INNER JOIN median ON mse.parent = median.ID INNER JOIN t ON median.parent = t.ID WHERE ((t.true_mean = 1))
```

In [6]:
%preview -n info[4] --limit -1

>>> info[4]:

,t_n,median_FILE,mse_score
0,1000,t_2_median_1,dsc_result/t_2_median_1_mse_1
1,1000,t_4_median_1,dsc_result/t_4_median_1_mse_1
2,1000,t_6_median_1,dsc_result/t_6_median_1_mse_1
3,1000,t_8_median_1,dsc_result/t_8_median_1_mse_1
4,1000,t_10_median_1,dsc_result/t_10_median_1_mse_1